{% extends 'base.html' %}
{% block page_content %}
  <div class="wf-section">
  <div class="container-11 w-container">
    <h1 class="heading-13">Delete profile</h1>
    <form enctype="multipart/form-data" id="email-form" name="email-form" data-name="Email Form" method="post" class="form" action="{% url 'creator delete' creator.pk %}">
            {{ form }}
            {% csrf_token %}
            <input type="submit" value="Delete" data-wait="Please wait..." class="submit-button-2 w-button">
    </form>
  </div>
  </div>
{% endblock %}