{% extends 'base.html' %}
{% load static %}
{% block page_content %}
  <div class="section-6 wf-section">
    <div class="container-6 w-container">
    {% if not projects %}
        <div>
        <h1 class="heading-20">No projects yet?</h1>
      </div>
        <div class="container-10 w-container">
            <a href="{% url 'upload project' creator.pk %}" class="button-8 w-button"><strong>Upload</strong></a>
        </div>
    {% endif %}
      <div>
          {% if projects %}
        <h1 class="heading-20">My recent projects</h1>
      </div>
      <div class="w-row">
        <div class="column-9 w-col w-col-6">
          <div class="div-block-16"><a href="{% url 'project details' project_1.pk %}"><img src="{{ project_1.image.url }}" loading="eager" width="300" sizes="(max-width: 479px) 82vw, 300px" srcset="{{ project_1.image.url }} 500w, {{ project_1.image.url }} 800w, {{ project_1.image.url }} 1080w, {{ project_1.image.url }} 1600w, {{ project_1.image.url }} 2000w, {{ project_1.image.url }} 2600w, {{ project_1.image.url }} 3200w, {{ project_1.image.url }} 4167w" alt="" class="image-14"></a>
            <div class="text-block-12">
                {% for cat in project_1.category.all %}
                          {{ cat }}
                          {% endfor %}
            </div>
            <h1 class="heading-21">{{ project_1.title }}</h1>
          </div>
        </div>
              {% if project_2 %}
        <div class="column-10 w-col w-col-6">
          <div class="div-block-16"><a href="{% url 'project details' project_2.pk %}"><img src="{{ project_2.image.url }}" loading="eager" width="300" sizes="(max-width: 479px) 82vw, 300px" srcset="{{ project_2.image.url }} 500w, {{ project_2.image.url }} 800w, {{ project_2.image.url }} 1080w, {{ project_2.image.url }} 1600w, {{ project_2.image.url }} 2000w, {{ project_2.image.url }} 2600w, {{ project_2.image.url }} 3200w, {{ project_2.image.url }} 4167w" alt="" class="image-14"></a>
            <div class="text-block-12">
                {% for cat in project_2.category.all %}
                          {{ cat }}
                          {% endfor %}
            </div>
            <h1 class="heading-21">{{ project_2.title }}</h1>
          </div>
        </div>
              {% endif %}
          {% endif %}
      </div>
    </div>
  </div>
{% endblock %}