{% extends 'base.html' %}
{% block page_content %}
  <div class="section-7 wf-section">
    <div class="container w-container">
      <div class="div-block-9">
        <div><img src="images/profile-photo-linkedin.png" loading="lazy" width="250" sizes="(max-width: 479px) 100vw, (max-width: 767px) 41vw, (max-width: 991px) 250px, 100vw" srcset="images/profile-photo-linkedin-p-500.png 500w, images/profile-photo-linkedin-p-800.png 800w, images/profile-photo-linkedin-p-1080.png 1080w, images/profile-photo-linkedin.png 1200w" alt="" class="image-10"></div>
        <div class="div-block-10">
          <h1 class="heading-6">Stanislav<br>Manolov</h1>
          <h3 class="heading-7">@stanislavm1</h3>
          <div>Age: 24</div>
          <div>City: Sofia</div>
          <div>Country: Bulgaria</div>
          <div>Email: stanislav@gmail.com</div>
          <div class="text-block-8">Description: Lorem ipsum</div>
          <div class="div-block-11">
            <a href="#" class="button-3 w-button">Edit</a>
            <a href="#" class="button-4 w-button">Delete</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wf-section">
    <div class="container-7 w-container">
      <h1 class="heading-8">Projects</h1>
      <div class="w-row">
        <div class="column-9 w-col w-col-6">
          <div class="div-block-16"><img src="images/profile-pic-01.png" loading="lazy" width="300" sizes="(max-width: 479px) 82vw, 300px" srcset="images/profile-pic-01-p-500.png 500w, images/profile-pic-01-p-800.png 800w, images/profile-pic-01-p-1080.png 1080w, images/profile-pic-01-p-1600.png 1600w, images/profile-pic-01-p-2000.png 2000w, images/profile-pic-01-p-2600.png 2600w, images/profile-pic-01-p-3200.png 3200w, images/profile-pic-01.png 4167w" alt="" class="image-14">
            <div class="text-block-12">ILLUSTRATION</div>
            <h1 class="heading-21">Lollimouth</h1>
          </div>
        </div>
        <div class="column-10 w-col w-col-6">
          <div class="div-block-16"><img src="images/profile-pic-01.png" loading="lazy" width="300" sizes="(max-width: 479px) 82vw, 300px" srcset="images/profile-pic-01-p-500.png 500w, images/profile-pic-01-p-800.png 800w, images/profile-pic-01-p-1080.png 1080w, images/profile-pic-01-p-1600.png 1600w, images/profile-pic-01-p-2000.png 2000w, images/profile-pic-01-p-2600.png 2600w, images/profile-pic-01-p-3200.png 3200w, images/profile-pic-01.png 4167w" alt="" class="image-14">
            <div class="text-block-12">ILLUSTRATION</div>
            <h1 class="heading-21">Lollimouth</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}